{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Hotels</title>
</head>
<body>

	<div>
		<center>
			<h2>Search & Book Hotels Online</h2>
			<h3>Choose from 3 million+ hotels and homestays on Tripoto</h3>
			<form>
				<input type="searchfield" name="" placeholder="Where would you like to stay?"><br>
				<input type="submit" name="search" value="Search">
			</form>
		</center>
		<br>
	</div>

	<div>
		<center>
			<b>Handpicked Places To Stay Around The World</b><br><br>
		</center>
		<div style="width: 350px; height: 230px">
			<a href="{% url 'places' place='INDIA' %}"><img src="{% static 'images/1520834151_hotels_in_india.png' %}" style="width: 100%; height: 100%;"></a>
		</div>
		<br>

		<div style="width: 350px; height: 230px; position: absolute; left: 500px; top: 225px;">
			<a href="{% url 'places' place='asia' %}"><img src="{% static 'images/1520834170_hotels_in_asia.png' %}" style="width: 100%; height: 100%;"></a>
		</div>
		<br>

		<div style="width: 350px; height: 230px; position: absolute; left: 1000px; top: 225px;">
			<a href="{% url 'places' place='europe' %}"><img src="{% static 'images/1520834190_hotels_in_europe.png' %}" style="width: 100%; height: 100%;"></a>
		</div>

	</div>

</body>
</html>
